
body, .lightBtn {
    background-color: #EFEFEF;
}
.main-slideshow, .widget-item, .widget-main, .box-content-inner, .page-title, .grid-event-header, .load-more-btn, .event-container, .gallery-content, .blog-post-inner, .prev-next-post a, #blog-author, .widget-main-title, .blog-comments-content, .contact-page-content, .contact-map, .course-details, #disqus_thread {
    background-color: #FFFFFF;
}
.menu-toggle-btn {
    background-color: #F7975B;
}
.responsive_menu {
    background-color: #5B4388;
}
.slider-caption, .cat-blog, .blog-post-meta ul li {
    background-color: rgba(0, 0, 0, 0.6);
}
.mainBtn, .request-information .submit_field .mainBtn, .tag-items a, .site-header, .main-menu li ul, .social_icons li a, .footer-media-icons li a, .flex-direction-nav a {
    background-color: #443266;
}
.main-navigation, .site-footer {
    background-color: #4F3A77;
}
blockquote, .calendar-small, .course-list > dt:nth-child(2n+1), .tab-content > .tab-pane {
    background-color: #F3F3F3;
}
.s-month, #slider-testimonials .prev, #slider-testimonials .next, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #8C489F;
}
.main-menu li.active a, .social-icons li a:hover, .site-footer a:hover, .event-container .event-time {
    color: #F7975B;
}
.main-menu li.active .sub-menu a:hover, .main-menu li a:hover, .social-icons li a, .social_icons li a, .slider-caption h2 a, .flex-direction-nav a, .footer-widget-title, .footer-media-icons li a, .mainBtn, .request-information .submit_field .mainBtn, .s-month, #slider-testimonials .prev, #slider-testimonials .next, .blog-grid-thumb .cat-blog, .blog-post-meta ul li, .blog-post-meta ul li a, .tag-items a, .comment-form .mainBtn, .course-search-form .mainBtn, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a, .course-post .mainBtn:hover, .tag-items a:hover {
    color: #FFFFFF;
}
body, .blog-list-meta a, .event-small-meta, .blog-grid-meta a, .lightBtn, .lightBtn:hover, .blog-categories ul li a, .comment-form label, .course-search-form label {
    color: #666666;
}
.menu-toggle-btn, .menu-toggle-btn:hover {
    color: #443266;
}
.main-menu a, .main-menu li.active .sub-menu a, .main-menu li ul li:before, .site-header, .site-header a, .responsive_menu a, .responsive_menu a:hover {
    color: #C6BADD;
}
.site-header a:hover {
    color: #9C87C4;
}
.small-links li:not(:last-child):after, .flex-direction-nav a:hover {
    color: #8E75BC;
}
.site-footer {
    color: #C6BADD;
}
.site-footer a {
    color: #E2DCEE;
}
.footer-nav li:not(:first-child):before {
    color: #A491C9;
}
.bottom-footer p.small-text {
    color: #C6BADD;
}
a, blockquote h5, .blog-categories ul li a:hover, .author-name a, .author-name a:hover {
    color: #8C489F;
}
a:hover {
    color: #6D387C;
}
h1, h2, h3, h4, h5, h6, .dark-text, .page-title a, .s-date, .load-more-btn a, .mixitup-controls .active, .prev-next-post a {
    color: #282A2C;
}
.small-text, .page-active, .request-information input, .input-select select, .event-contact ul li, .comment-form input, .comment-form textarea .contact-form input, .contact-form textarea, .course-search-form input, .course-search-form select {
    color: #999999;
}
.page-title h6:not(:first-child):before {
    color: #CCCCCC;
}
.widget-main-title, blockquote, .request-information input, .input-select select, .blog-list-post, .event-small-list, .prof-list-item, .grid-event-header, .load-more-btn, .search-form-widget input, .prev-next-post .whiteBtn, .blog-comments-content .media, .comment-form input, .comment-form textarea, .contact-form input, .contact-form textarea, .course-search-form input, .course-search-form select {
    border-color: #D5DBE0 !important;
}
.search-form form input, .main-navigation, .main-menu li {
    border-color: #5B4388;
}
.main-menu li ul li {
    border-color: #4F3A77;
}
body, .main-menu li ul, .tab-content > .tab-pane {
    border-color: #F7975B;
}
.site-header, .site-footer {
    border-color: #D5D5D5;
}
.bottom-footer {
    border-color: #443266;
}
.course-list dt, .course-list dt:last-of-type {
    border-color: #E7EAED;
}
.main_menu li, .main_menu {
    border-color: #7254AA !important;
}
