
body {
    border-top: 4px solid;
    font: 13px/23px Helvetica,Arial,sans-serif;
    word-wrap: break-word;
}
a {
    transition: all 0.1s ease-in-out 0s;
}
input::-moz-focus-inner {
    border: 0 none;
}
a:hover, a:active, a:focus {
    outline: medium none;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway',serif;
}
.small-text {
    font-size: 12px;
}
.widget-title {
    font-size: 13px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}
.widget-main-title {
    border-bottom: 1px solid;
}
.welcome-text {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 20px;
}
.page-title {
    display: block;
    padding: 18px 20px;
}
.page-title ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.page-title ul li {
    display: block;
    float: left;
}
.page-title h6 {
    float: left;
    font-size: 12px;
    margin: 0;
    text-transform: uppercase;
}
.page-title h6:not(:first-child):before {
    content: "/";
    padding: 0 10px;
}
.grid-or-list {
    float: right;
}
.grid-or-list ul {
    margin: 0;
    padding: 0;
}
.grid-or-list ul li {
    font-size: 14px;
    line-height: 14px;
    margin: 0 7px;
}
.grid-or-list ul li:last-child {
    margin-right: 0 !important;
}
blockquote {
    border-left: 4px solid;
}
blockquote h5 {
    font-weight: 700;
    text-transform: uppercase;
}
.shortcode-typo p {
    margin-bottom: 20px;
}
.shortcode-typo h4 {
    margin-bottom: 20px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: medium none;
    border-radius: 0;
    height: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0 15px;
}
.nav-tabs > li {
    margin: 0;
    padding: 0;
}
.nav-tabs {
    border: 0 none;
    margin: 0 !important;
    padding: 0 !important;
}
.nav-tabs > li > a:hover {
    border: medium none;
}
.nav-tabs > li > a {
    border-radius: 0;
    height: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0 15px;
}
.tab-content > .tab-pane {
    border-top: 2px solid;
    padding: 20px;
}
.panel-group .panel {
    border: 0 none;
    border-radius: 0;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
    border: 0 none;
}
.panel-collapse {
    padding: 0 10px;
}
.alert {
    border-radius: 0;
    padding: 10px 15px;
}
.progress {
    border-radius: 0;
}
.site-header {
    border-bottom: 4px solid;
    font-size: 12px;
}
.header-left {
    margin-top: 70px;
}
.header-left p i {
    margin-right: 7px;
}
.logo {
    margin: 40px auto;
    text-align: center;
}
.header-right {
    margin: 52px auto;
    text-align: right;
}
.small-links {
    margin: 0 0 15px;
    padding: 0;
}
.small-links li {
    display: inline;
    list-style: none outside none;
}
.small-links li:not(:last-child):after {
    content: "|";
    padding: 0 8px;
}
.search-form form input {
    border: 1px solid;
    box-shadow: none;
    height: 34px;
    padding: 0 10px;
    margin: 5px; 
}
.search-form form input.mainBtn {
    min-width: 50px;
    line-height: 1; 
}
.search-form form input.mainBtn:hover {
    background-color: #4F3A77;
}
.main-navigation {
    border-top: 1px solid;
    font-size: 14px;
}
.main-menu {
    margin: 0;
    padding: 0;
}
.main-menu li {
    border-right: 1px solid;
    display: inline-block;
    float: left;
    list-style: none outside none;
    margin: 0;
    position: relative;
}
.main-menu li ul {
    border-top: 4px solid;
    left: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 180px;
    z-index: 9999;
}
.main-menu li ul li {
    border-bottom: 1px solid;
    border-right: medium none;
    padding: 0;
    width: 100%;
}
.main-menu li ul li a {
    display: block;
    padding: 12px 20px;
}
.main-menu li ul li ul {
    left: 100%;
    top: 0;
}
.main-menu a {
    display: block;
    padding: 17px 20px;
}
.sf-with-ul i {
    margin-left: 10px;
}
.social-icons {
    margin: 0;
    padding: 17px 20px;
}
.social-icons li {
    display: inline-block;
    float: left;
    list-style: none outside none;
    margin-left: 20px;
}
.menu-toggle-btn {
    display: block;
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 100%;
}
.responsive_menu {
    display: none;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.main_menu {
    border-bottom: 1px solid;
    list-style: none outside none;
    margin: 0;
    padding: 20px;
}
.main_menu li:not(:first-child) {
    border-top: 1px solid;
    padding: 12px 0;
}
.main_menu li ul {
    list-style: none outside none;
    margin-left: -10px;
    margin-top: 10px;
}
.main_menu li ul li {
    border-top: 1px solid;
    padding: 10px 0;
}
.main_menu li ul li:before {
    content: "-";
    margin-right: 10px;
}
.main_menu a {
    font-size: 16px;
}
.social_icons {
    display: inline-block;
    margin: 0;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 30px;
    text-align: center;
}
.social_icons li {
    display: inline;
    float: left;
}
.social_icons li a {
    border-radius: 3px;
    display: block;
    float: left;
    height: 36px;
    line-height: 36px;
    margin-right: 10px;
    text-align: center;
    width: 36px;
}
.main-slideshow {
    padding: 6px;
}
.slider-caption {
    bottom: 0;
    left: 0;
    position: absolute;
}
.slider-caption h2 {
    line-height: 20px;
    margin: 0 0 7px;
}
.slider-caption h2 a {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.slider-caption p {
    color: #A7AAAC;
    margin: 0;
}
.flexslider {
    height: 392px;
    position: relative;
}
.flexslider img {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    width: 100%;
}
.flex-direction-nav {
    position: absolute;
    right: 36px;
}
.flex-direction-nav a {
    display: inline-block;
    float: left;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 36px;
}
.grid-event-item, .load-more-btn, .event-container, .event-contact, .gallery-item, .blog-grid-item, .blog-post-container, .prev-next-post, #blog-author, .blog-post-comments, .contact-page-content, .contact-form, .contact-map, .course-post, #disqus_thread, .site-footer, .widget-item, .widget-sidebar, .main-slideshow, .widget-main, .list-event-item, .page-title {
    margin-top: 30px;
}
.event-container, .blog-post-inner, #blog-author, .blog-comments-content, .contact-page-content, .course-details, #disqus_thread, .widget-item, .widget-main-title, .widget-inner, .box-content-inner, .slider-caption {
    padding: 20px;
}
.request-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    margin: 0;
}
.request-information label {
    font-size: 12px;
    font-weight: 400;
}
.request-information label, .request-information input, .request-information select {
    display: block;
}
.request-information input {
    border: 1px solid;
    outline: medium none;
    padding: 5px 10px;
    width: 100%;
}
.request-info {
    margin-top: 15px;
}
input, select {
    border: medium none;
    outline: medium none;
}
.mainBtn, .request-information .submit_field .mainBtn {
    height: 40px;
    margin: 0;
    padding: 0 15px;
    text-align: right;
    width: auto;
    line-height: 3;
}
.submit_field {
    line-height: 40px;
    margin-top: 16px;
}
.submit_field .small-text {
    line-height: 40px;
}
.request-information .request-info select {
    -moz-appearance: none;
}
.input-select select {
    background-image: url("../images/select-arrow.png");
    background-position: right center;
    background-repeat: no-repeat;
    border: 1px solid;
    padding: 3px 8px;
    width: 45%;
}
.full-row {
    margin-bottom: 10px;
}
.blog-list-post, .event-small-list, .prof-list-item {
    display: block;
    padding-top: 15px;
}
.blog-list-post:first-child, .event-small-list:first-child, .prof-list-item:first-child {
    padding-top: 0 !important;
}
.blog-list-post:last-child, .event-small-list:last-child, .prof-list-item:last-child {
    margin-bottom: 0 !important;
}
.blog-list-post:not(:last-child), .event-small-list:not(:last-child), .prof-list-item:not(:last-child) {
    border-bottom: 1px dashed;
    padding-bottom: 15px;
}
.blog-list-thumb {
    display: block;
    float: left;
    height: 65px;
    margin-right: 15px;
    width: 65px;
}
.blog-list-thumb img {
    height: 100%;
    width: 100%;
}
.blog-list-title, .blog-grid-title, .event-small-title, .event-title, .gallery-title {
    margin: 2px 0 0;
}
.blog-list-title a, .blog-grid-title a, .event-small-title a, .event-title a, .gallery-title {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
}
.blog-list-meta, .event-small-meta, .blog-grid-meta {
    margin: 0;
}
.calendar-small {
    display: block;
    float: left;
    height: 65px;
    margin-right: 15px;
    width: 65px;
}
.calendar-small .s-month {
    display: block;
    font-weight: 600;
    height: 22px;
    line-height: 22px;
    text-align: center;
    width: 65px;
}
.calendar-small .s-date {
    display: block;
    font-size: 16px;
    font-weight: 700;
    height: 43px;
    line-height: 43px;
    text-align: center;
    width: 65px;
}
.prof-thumb {
    float: left;
    height: 75px;
    margin-right: 15px;
    overflow: hidden;
    width: 75px;
}
.prof-thumb img {
    height: 100%;
    width: 100%;
}
.prof-name-list {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    margin: 2px 0 0;
}
#slider-testimonials ul {
    margin: 0;
    padding: 0;
}
#slider-testimonials ul li {
    display: block;
    font-style: italic;
    height: auto;
    overflow: hidden;
    width: 100%;
}
#slider-testimonials .prev, #slider-testimonials .next {
    display: block;
    float: left;
    height: 25px;
    line-height: 25px;
    margin: 10px 2px 0 0;
    text-align: center;
    width: 25px;
}
.gallery-small-thumbs {
    margin-bottom: -12px;
    margin-left: -12px;
}
.thumb-small-gallery {
    display: inline-block;
    float: left;
    height: 70px;
    margin-bottom: 12px;
    margin-left: 12px;
    overflow: hidden;
    transition: all 0.2s ease-in-out 0s;
    width: 70px;
}
.thumb-small-gallery img {
    height: 100%;
    width: 100%;
}
.our-campus ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.our-campus ul li {
    float: left;
}
.our-campus ul li img {
    opacity: 0.5;
    transition: all 0.2s ease-in-out 0s;
}
.our-campus ul li img:hover {
    opacity: 0.8;
}
.grid-event-header {
    border-bottom: 1px solid;
    padding: 15px 20px;
}
.grid-event-header span i {
    margin-right: 10px;
}
.grid-event-header .event-place {
    margin-right: 20px;
}
.event-title {
    margin: 0 0 10px;
}
.load-more-btn {
    border-bottom: 2px solid;
    text-align: center;
}
.load-more-btn a {
    display: block;
    font-weight: 700;
    padding: 12px 20px;
}
.load-more-btn:active {
    border-bottom: 0 none;
}
.list-event-thumb {
    display: block;
    float: left;
    height: 150px;
    margin-right: 20px;
    width: 170px;
}
.list-event-thumb img {
    height: 100%;
    opacity: 1;
    transition: all 0.1s ease-in-out 0s;
    width: 100%;
}
.list-event-thumb img:hover {
    opacity: 0.8;
}
.list-event-item .list-event-header {
    line-height: 32px;
    margin-bottom: 10px;
}
.list-event-item .list-event-header span i {
    margin-right: 10px;
}
.list-event-item .list-event-header .event-place {
    margin-right: 20px;
}
.list-event-item .list-event-header .view-details {
    float: right;
}
.lightBtn {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
}
.event-container .event-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}
.event-container .event-time {
    display: block;
    font-size: 15px;
    font-weight: 700;
    margin: 20px 0;
}
.left-event-content {
    float: left;
    position: relative;
}
.right-event-content {
    float: right;
    width: 65%;
}
.right-event-content p {
    margin-bottom: 20px;
}
.event-contact h4 {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}
.event-contact ul {
    list-style: none outside none;
    margin: 10px 0 0;
    padding: 0;
}
.event-contact ul li {
    line-height: 24px;
}
#Grid .mix {
    display: none;
    opacity: 0;
}
.gallery-thumb {
    overflow: hidden;
    position: relative;
}
.gallery-thumb img {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.gallery-content {
    padding: 12px 20px;
}
.gallery-content p {
    margin-bottom: 0;
    margin-top: 5px;
}
.search-form-widget input {
    border: 1px solid;
    padding: 7px 10px;
    width: 100%;
}
.mixitup-controls {
    list-style-position: inside;
    list-style-type: square;
    margin: 0;
    padding: 0;
}
.mixitup-controls li {
    cursor: pointer;
    line-height: 24px;
}
.mixitup-controls .active {
    font-weight: 700;
}
.blog-list-details, .event-small-details {
    overflow: hidden;
}
.blog-grid-item .blog-grid-title {
    line-height: 22px;
    margin-bottom: 10px;
}
.blog-grid-thumb {
    height: 220px;
    overflow: hidden;
    position: relative;
}
.blog-grid-thumb .cat-blog {
    display: block;
    height: 26px;
    left: 0;
    line-height: 26px;
    padding: 0 10px;
    position: absolute;
    top: 0;
}
.blog-grid-thumb img {
    height: 100%;
    width: 100%;
}
.blog-categories {
    padding: 0 20px;
}
.blog-categories ul {
    list-style-position: inside;
    list-style-type: square;
    margin: 0;
    padding: 0;
}
.blog-categories ul li {
    line-height: 24px;
}
.blog-post-image {
    overflow: hidden;
    position: relative;
}
.blog-post-image .blog-post-meta {
    bottom: 0;
    left: 0;
    position: absolute;
}
.blog-post-image .blog-post-meta ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.blog-post-image .blog-post-meta ul li {
    margin-top: 1px;
    padding: 7px 10px;
}
.blog-post-image .blog-post-meta ul li i {
    margin-right: 10px;
}
.blog-post-image img {
    width: 100%;
}
.blog-post-inner p {
    margin-bottom: 20px;
}
.blog-post-inner .blog-post-title {
    margin: 10px 0 20px;
}
.tag-items {
    line-height: 25px;
}
.tag-items a {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 8px;
}
.prev-next-post .whiteBtn {
    border-bottom: 2px solid;
    display: inline-block;
    margin-right: 8px;
}
.prev-next-post .whiteBtn:active {
    border: 0 none;
}
.prev-next-post a {
    display: block;
    float: left;
    font-weight: 700;
    padding: 10px 20px;
}
.prev-next-post .prev i {
    margin-right: 10px;
}
.prev-next-post .next i {
    margin-left: 10px;
}
.blog-author-img {
    float: left;
    height: 80px;
    margin-right: 20px;
    overflow: hidden;
    width: 80px;
}
.author-name {
    font-size: 16px;
    margin: 5px 0 10px;
}
.author-name a {
    font-weight: 600;
}
.blog-comments-content .media-heading {
    font-size: 14px;
    font-weight: 600;
    margin: 3px 0 5px;
}
.blog-comments-content .media-object {
    margin-right: 5px;
}
.blog-comments-content .media:not(:last-child) {
    border-bottom: 1px dashed;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.blog-comments-content .media .media {
    border-top: 1px dashed;
    margin-top: 35px;
    padding-top: 20px;
}
.comment-form label {
    font-size: 12px;
    font-weight: 400;
}
.comment-form input, .comment-form textarea {
    border: 1px solid;
    display: block;
    outline: 0 none;
    padding: 0 10px;
    width: 100%;
}
.comment-form input {
    height: 36px;
}
.comment-form textarea {
    max-width: 100%;
    padding: 10px;
}
.comment-form .mainBtn {
    display: inline-block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    padding: 0 15px;
    width: auto;
}
.contact-heading h3 {
    font-size: 22px;
    font-weight: 500;
    margin: 5px 0 15px;
}
.contact-form .contact-label {
    display: block;
    float: left;
    width: 30%;
}
.contact-form label {
    margin: 0;
}
.contact-form .small-text {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    margin: 0;
}
.contact-form input, .contact-form textarea {
    border: 1px solid;
    font-size: 12px;
    outline: 0 none;
    padding: 0 10px;
}
.contact-form input {
    height: 36px;
    width: 45%;
}
.contact-form textarea {
    max-width: 70%;
    padding: 10px;
    width: 70%;
}
.contact-form .full-row {
    margin-top: 20px;
}
.contact-form .full-row:first-of-type {
    margin-top: 0;
}
.contact-form .mainBtn {
    font-size: 13px;
    margin-left: 30%;
    width: auto;
}
.contact-map {
    padding: 6px;
}
.archive-title {
    font-size: 18px;
    font-weight: 700;
    margin: 30px 0 15px;
}
.archive-list {
    list-style-position: inside;
    list-style-type: square;
    margin: 0;
    padding: 0;
}
.archive-list li {
    line-height: 24px;
}
.course-search h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 20px;
}
.course-search-form input, .course-search-form select {
    border: 1px solid;
    height: 32px;
    padding: 0 10px;
}
.course-search-form label {
    font-size: 12px !important;
    font-weight: 400;
}
.course-search-form select {
    background-image: url("../images/select-arrow.png");
    background-position: right center;
    background-repeat: no-repeat;
}
.course-search-form .searchbox {
    width: 63%;
}
.course-search-form .mainBtn {
    font-size: 13px;
    height: 36px;
}
.course-search-form select {
    -moz-appearance: none;
}
#search_advanced .searchselect {
    display: block;
}
.search-form-item {
    float: left;
    margin-right: 3%;
    margin-top: 20px;
    width: 30%;
}
.search-form-item input, .search-form-item select {
    width: 100%;
}
.select-yes {
    margin-right: 30px;
    width: auto;
}
.select-yes label {
    margin-right: 10px;
}
.select-yes input {
    height: auto;
    width: auto;
}
.course-list dt {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    clear: both;
    padding: 15px;
    position: relative;
}
.course-list dt:last-of-type {
    border-bottom: 1px solid;
}
.course-list dt a {
    display: block;
}
.course-list .ui-icon {
    margin-top: -8px;
    position: absolute;
    right: 1em;
    top: 50%;
}
.course-list .level {
    float: left;
    font-size: 12px;
    width: 140px;
}
.course-post p {
    margin-bottom: 20px;
}
.course-post ul {
    margin: 0 0 20px;
}
.course-post .mainBtn {
    display: inline-block;
    height: 36px;
    line-height: 36px;
}
.course-image {
    overflow: hidden;
}
.course-image img {
    width: 100%;
}
.course-post-title {
    margin: 10px 0 20px;
}
.site-footer {
    border-top: 4px solid;
    /*padding-top: 50px;*/
}
.footer-widget-title {
    font-size: 13px;
    font-weight: 700;
    margin: 0 0 20px;
    text-transform: uppercase;
}
.footer-widget .list-links {
    margin: 0;
    padding: 0 0 0 15px;
}
.footer-widget .list-links li {
    line-height: 24px;
    list-style-type: square;
}
.footer-media-icons {
    margin: 0;
    padding: 0;
}
.footer-media-icons li {
    display: block;
    float: left;
    list-style: none outside none;
}
.footer-media-icons li a {
    height: 55px;
    line-height: 55px;
    margin-bottom: 1px;
    margin-left: 1px;
    text-align: center;
    width: 55px;
}
.bottom-footer {
    border-top: 1px solid;
    display: block;
    margin-bottom: 10px;
    /*margin-top: 70px;*/
    padding-top: 25px;
}
.footer-nav {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: right;
}
.footer-nav li {
    display: inline;
    font-size: 12px;
}
.footer-nav li:not(:first-child):before {
    content: "|";
    padding: 0 10px;
}
