body{
	font-size: 15px;
	font-family: verdana;
}

#main_wrap{
	margin: 0px auto;
	width: 1024px;
}
#main-header{
	float:left;
	width: 100%;
}
#main-header h1{
	text-align: left;
}
#main-body{
	float:left;
	width: 100%;
	background-color:#FAFAFA;
	border-top: 1px groove #666;
}
#man-body-left{
	float: left;
	width: 20%;
	background-color:#F3F3F3;
	border-right: 2px groove #666;
	border-bottom: 1px groove #666;
}
#man-body-right{
	float: left;
	padding:2%;
	width: 74%;
}
ul#nav{
	list-style-type: none;
	margin-left: 10px;
	padding : 0px;
	line-height: 30px; 
}
ul#nav li{
	color:#2A1F55; 
	font-size:15px;
	padding-bottom:10px;
}
ul.sub-nav{
	list-style-type: square;
	line-height: 21px;
}
#content label{
	float:left;
	width: 100px;
}

a:link 	{color:#666; text-decoration:none;}
a:visited {color:#999;}
a:hover  {color:#222; text-decoration:underline;}