body{
	font-size: 15px;
	font-family: verdana;
}

#main_wrap{
	margin: 0px auto;
	width: 860px;
}
#main-header{
	float:left;
	width: 100%;
	border-bottom: 3px groove #666;
}
#main-header h1{
	text-align: left;
}
#main-body{
	float:left;
	width: 100%;
}
#man-body-top{
	float: left;
	width: 100%;
	border-bottom: 3px groove #666;
}
#man-body-middle{
	float: left;
	width: 100%;
	border-bottom: 3px groove #666;
}
#man-body-bottom{
	float: left;
	width: 100%;
}

a:link 	{color:#666; text-decoration:none;}
a:visited {color:#999;}
a:hover  {color:#222; text-decoration:underline;}